.etapes{
    height: 100vh;
    padding: 0em;
    position: relative;
    color: #FFF;
    background-color: var(--wp--preset--color--primary);
}

.masked-image {
    position: relative;
    z-index: 0;
}

.triggers{
    justify-content: flex-start;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 10vw;
}

.trigger{
    color: #FFF;
    font-size: 5vw;
    position: relative;
    z-index: 4;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    text-align: center;
}

.trigger.active p{
    font-size: 8vw;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.trigger .number-steps {
    line-height: 100%;
    height: auto;
    margin: auto auto 0 auto;
}

.trigger:hover .trigger-bar{
    height: 30px;
}

.trigger.active .number-steps{
    line-height: 60%;
}

.trigger.active .trigger-bar{
    height: 0px;
}

.trigger-bar{
    width: 3px;
    height: 40px;
    position: relative;
    display: block;
    background-color: #FFF;
    left: 50%;
}

.trigger-spacer{
    width: 50px;
    transition: .35s ease;
}

.trigger-spacer.big{
    width: 450px;
}

.steps-img-slider,
.steps-img-slider img{
    height: 100vh;
}

.steps-img-slider img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.steps-content-slider{
    color: #FFF;
    position: absolute;
    bottom: 5rem;
    left: 5rem;
}

.steps-title{
    font-size: 1.4em;
    margin-bottom: .5em;
    margin-top: 0;
}

.steps-subtitle{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.content-slide{
    max-width: 90vw;
    width: 400px;
    display: block;
    text-align: left;
    transition: .5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.content-slide:first-of-type{
    position: relative;
}

.content-slide:not(.active){
    opacity: 0;
}

/* MASK OFF */
.title-etapes.masked-element {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
}
.masked-image.masked-element{
  margin-top: 0;
}
.steps-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.greyscale{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  @media (max-width: 1024px) {
    .trigger-spacer {
        width: 20px;
        transition: .35s ease;
      }
  }

  @media (max-width: 1024px) {
    
      .trigger {
        min-width: 20px;
      }
      .trigger-spacer {
        width: 15px;
        transition: .35s ease;
      }
      .steps-content-txt {
        font-size: 0.9em;
      }
  }

  /* MOBILE */
  @media (max-width: 576px) {
    .steps-content-slider {
        position: absolute;
        bottom: 5rem;
        left: 5vw!important;
    }
    .trigger {
        font-size: 2em;
        opacity: .3;
    }

    .trigger.active{
        font-size: 2em;
        opacity: 1;
    }

    .trigger.active .number-steps{
        line-height: 100%;
    }

    .trigger .number-steps {
        line-height: 100%;
        height: auto;
        margin: auto auto 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .trigger-bar {
        display: none;
    }
    .triggers{
        right: unset;
        left: 5vw
    }
}